.register {
  background-color: rgb(195, 225, 236);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 400px;
    overflow: hidden;
    .left {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      h1 {
        color: rgb(53, 41, 115);
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;
          border-bottom: 1px solid lightgrey;
        }
        input:hover {
          border-bottom: 1px solid rgb(53, 41, 115);
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: rgb(53, 41, 115);
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    .right {
      flex: 1;
      background: linear-gradient(
          rgba(53, 41, 115, 0.381),
          rgba(0, 0, 0, 0.324)
        ),
        url("./Register-image.png") center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: white;
      h1 {
        font-size: 80px;
      }
      p {
      }
      span {
        font-size: 15px;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rgb(53, 41, 115);
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
