@import "../../style.scss";

.rightBar {
  flex: 3;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  .container {
    padding: 20px;

    .item {
      -webkit-box-shadow: -15px 23px 24px -28px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -15px 23px 24px -28px rgba(0, 0, 0, 0.75);
      box-shadow: -15px 23px 24px -28px rgba(0, 0, 0, 0.75);
      margin-bottom: 20px;

      span {
        color: gray;
      }
      .spanHeading {
        padding-left: 5px;
      }
      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0px;
        gap: 20px;
        padding-left: 5px;

        .userInfo {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
            font-weight: 500;
            color: black;
          }
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        gap: 10px;
        button {
          border: none;
          padding: 5px;
          color: white;
          cursor: pointer;

          &:first-child {
            background-color: rgb(29, 29, 237);
          }
          &:last-child {
            background-color: rgb(237, 29, 29);
          }
        }
      }
    }
  }
}
